body {
  background:url(../images/bg.png) repeat top center;
}

.dropdown-submenu >.dropdown-menu {
    top: 0;
    left: 100%;
}		 
.dropdown-submenu:hover >.dropdown-menu {
    display: block;
}
.dropdown:hover >.dropdown-menu {
    display: block;
}		 
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}